@import "../../scss/variables.scss";

.forgt-ps-outer-cl-dv {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .forgotPasswordForm {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.66);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 30px 40px;
    position: absolute;
    z-index: 10;

    background: rgba(255, 255, 255, 0.66);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    .link-sent-to-mailbox-msg-cntnr {
      background-color: $clr-secondary;
      padding: 8px $margin-2;
      border-radius: $margin-1;
      width: 80%;
      margin-bottom: $margin-2;
      h2 {
        font-size: 18px;
        text-align: center;
        color: $clr-cl-min;
        font-weight: 400;
        margin: 10px;
      }
    }
    .text-cnt-forgt-psd {
      img {
        position: absolute;
        right: 50px;
        width: 90px;
      }
      h2 {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 50px;
      }

      h4 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
        width: 90%;
      }
    }

    label {
      text-align: left;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 5px;
    }

    input {
      height: 50px;
      width: 100%;
      border: 2px solid $clr-secondary;
      border-radius: $size-4;
      padding-left: 10px;
      font-size: 16px;
      margin-bottom: 20px;
      font-weight: 600;
      color: $clr-secondary;
      outline: none;
    }

    button {
      width: 103%;
      margin: $size-3;
      height: 53px;
      font-size: 20px;
      background-color: $clr-secondary;
      border: 0px;
      border-radius: $size-4;
      color: white;
      &:hover {
        background-color: $clr-dark;
        cursor: pointer;
      }
    }
  }
}
