@import "../../scss/variables.scss";

.single-list-item-leaderboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  h6 {
    font-size: 12px;
    text-align: left;
  }
  .premium-user-mail-container {
    margin: 5px 10px;
    width: 30%;
    font-weight: 600;
    color: $clr-secondary;
  }

  .non-premium-mail-container {
    margin: 5px 10px;
    width: 30%;

    font-weight: 400;
  }

  h5 {
    margin: 5px 10px;
    text-align: right;
    width: 30%;
  }
  h4 {
    margin: 5px 10px;
    width: 30%;
    text-align: left;
  }
}
