$clr-primary: gray;
$clr-secondary: rgb(48, 92, 238);
$clr-secondary-low: rgb(112, 142, 241);
$clr-secondary-dark: rgb(25, 68, 207);
$clr-dark: rgb(29, 28, 28);
$clr-cl-min: rgb(240, 232, 232);

$size-1: 2px;
$size-2: 4px;
$size-3: 6px;
$size-4: 8px;
$size-5: 10px;

$margin-1: 10px;
$margin-2: 30px;
